{% load static %}
{% load humanize %}

<link rel="stylesheet" href="{% static 'transaction/add.css' %}">

<div class="add-transaction-container">
    <form action="{% url 'wallet:store' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>
                <p>Add new transaction</p>
            </legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

            <label for="amount">Amount</label>
            <input required type="number" name="amount" id="amount" min="1000" max="500000000" step="1000">
            <br>

            <label for="category">Category</label>
            <input required type="text" name="category" id="category">
            <br>

            <label for="detail">Detail</label>
            <input required type="text" name="detail" id="detail">
            <br>

            <label for="date_created">Date</label>
            <input required type="date" name="date_created" id="date_created">
            <br>

            <label>Kind</label>
            <input type="radio" name="kind" id="expense" class="width-auto" value="-1" checked>
            <label for="expense" class="ml-0">Expense</label>
            <input type="radio" name="kind" id="income" class="width-auto" value="1">
            <label for="income" class="ml-0">Income</label>

        </fieldset>
        <div class="btn">
            <input class="submit-btn" type="submit" value="Save">
            <button class="return-btn">
                <a href="{% url 'wallet:index' %}">Back</a>
            </button>
        </div>
    </form>
</div>