* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

/* -------- */

.delete-transaction-container {
    margin: 50px auto;
    width: 600px;
}

.delete-transaction-container legend p {
    font-size: 40px;
    font-weight: 700;
}

.delete-transaction-container .message-confirm-delete {
    font-size: 20px;
    margin: 20px auto 20px 20px;
}

.delete-transaction-container .btn {
    margin-top: 10px;
    display: flex;
}

.delete-transaction-container .btn .submit-btn {
    margin-left: auto;
    margin-right: 20px;
    border: none;
    background-color: #f44336;
    padding: 8px 16px;
    font-size: 20px;
}

.delete-transaction-container .btn .submit-btn:hover {
    cursor: pointer;
    opacity: 0.6;
    color: white;
}

.delete-transaction-container .btn .return-btn {
    margin-right: 10px;
    background-color: #cbc8c8;
    padding: 8px 0px;
    font-size: 20px;
}

.delete-transaction-container .btn .return-btn:hover {
    opacity: 0.6;
}

.delete-transaction-container .btn .return-btn a {
    padding: 8px 16px;
    color: black;
}

.delete-transaction-container .btn .return-btn a:hover {
    color: white;
}