* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

.width-auto {
    width: auto !important;
}

.ml-0 {
    margin-left: 0 !important;
}

/* -------- */

.add-transaction-container {
    margin: 50px auto;
    width: 600px;
}

.add-transaction-container legend p {
    font-size: 40px;
    font-weight: 700;
}

.add-transaction-container label {
    font-size: 20px;
    margin: 20px;
    width: 90px;
    display: inline-block;
}

.add-transaction-container fieldset input {
    font-size: 20px;
    padding: 5px;
    width: 270px;
}

.add-transaction-container .btn {
    margin-top: 10px;
    display: flex;
}

.add-transaction-container .btn .submit-btn {
    margin-left: auto;
    margin-right: 20px;
    border: none;
    background-color: #4CAF50;
    padding: 8px 16px;
    font-size: 20px;
}

.add-transaction-container .btn .submit-btn:hover {
    cursor: pointer;
    opacity: 0.6;
    color: white;
}

.add-transaction-container .btn .return-btn {
    margin-right: 10px;
    background-color: #cbc8c8;
    padding: 8px 0px;
    font-size: 20px;
}

.add-transaction-container .btn .return-btn:hover {
    opacity: 0.6;
}

.add-transaction-container .btn .return-btn a {
    padding: 8px 16px;
    color: black;
}

.add-transaction-container .btn .return-btn a:hover {
    color: white;
}