* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

/* ----- */

.top-nav {
    text-align: center;
    width: fit-content;
    margin: 30px auto;
}

.top-nav button {
    padding: 10px 0px;
    margin: 0 20px;
}

.top-nav .admin-btn {
    background-color: #628ede;
}

.top-nav .main-btn {
    background-color: #e24b4b;
}

.top-nav .tts-btn {
    background-color: #e7d538;
}

.top-nav button a {
    padding: 10px 20px;
    color: black;
    font-size: 20px;
}

.top-nav button:hover {
    opacity: 0.6;
}

.top-nav button a:hover {
    color: white;
}